<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md">
        <div class="text-xl font-medium text-black text-center">Signup</div>
        <form class="mt-4" method="post" action="{% url 'user_log:signup' %}">
            {% csrf_token %}
            <div>
                <label class="block" for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Choose a username" class="mt-1 p-2 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full focus:bg-white focus:border-purple-500">
            </div>
            <div class="mt-4">
                <label class="block" for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" class="mt-1 p-2 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full focus:bg-white focus:border-purple-500">
            </div>
            <div class="mt-4">
                <label class="block" for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" class="mt-1 p-2 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full focus:bg-white focus:border-purple-500">
            </div>
            <div class="mt-4">
                <label class="block" for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm your password" class="mt-1 p-2 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full focus:bg-white focus:border-purple-500">
            </div>
            <div class="mt-8">
                <button type="submit" class="w-full bg-purple-600 text-white font-bold py-2 px-4 rounded hover:bg-purple-500">Signup</button>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <p class="mt-2 text-red-500">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>
</html>
