<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Title{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="bg-white shadow-md">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <div>
                        <a href="{% url 'generator:generator' %}" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <span class="font-bold">Muse</span>
                        </a>
                    </div>
                </div>
                <!-- Authentication Links -->
                <div class="md:flex items-center space-x-1">
                    {% if user.is_authenticated %}
                        <a href="{% url 'user_log:profile' %}" class="py-5 px-3">Profile</a>
                        <a href="{% url 'generator:user_history' %}" class="py-5 px-3">History</a>
                        <a href="{% url 'user_log:logout' %}" class="py-2 px-3 bg-red-600 text-white rounded hover:bg-red-500">Logout</a>
                    {% else %}
                        <a href="{% url 'user_log:user_login' %}" class="py-5 px-3">Login</a>
                        <a href="{% url 'user_log:signup' %}" class="py-2 px-3 bg-purple-600 text-white rounded hover:bg-purple-500">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="container mx-auto">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
